.my-checkbox-component{
  .dropdown{
    .dropdown-menu{
      width: 100%;
      padding: 25px;
      button{
        width: 100%;
      }
    }
  }
}
/*resgistration page */
.auth {
  .auth-form-dark{
    overflow: auto;
  }
}
.err-valid-feedback-border{
  border: solid 1px #dc3545;
}
.err-valid-feedback{
  color: #dc3545 !important;
  font-size: 13px !important;
}